section{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.earth-img{
    z-index: 1;
    width: 30%;
    height: 30%;
    position: relative;
    left: 2rem;
    cursor: pointer;
    transition: ease-in-out 1s;
}

.big-planet{
    z-index: 1;
    width: 90%;
}

.moon-img{
    width: 30%;
    height: 30%;
    position: relative;
    right: 2rem;
    cursor: pointer;
}

.mars-img{
    width: 50%;
    position: relative;
    left: 2rem;
    cursor: pointer;
}

.main-paragraph{
    width: 30rem;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2rem;
    left: 35%;
    transform: translateY(+10%);
}

.second-paragraph{
    width: 30rem;
    position: absolute;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2rem;
    margin: 2rem auto;
    transform: translateX(-50%);
    left: 50%;
}

.second-section-button{
    color: var(--primary-color);
    padding: 2rem;
    position: relative;
    border-radius: 3rem;
    background-color: var(--secondary-color);;
    font-size: x-large;
    left: 10%;
    cursor: pointer;
    transition: ease-in-out 1s;
}


.nav-bar {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 0rem;
}

.list-holder:hover{
    padding: 0 3rem 0 3rem;
    transform: translate(-50%);
}

nav h1{
    position: relative;
    left: 5%;
    font-size: xx-large;
    transition: ease-in-out 1s;
    display: inline-block;
}

nav h1:hover{
    cursor: pointer;
    letter-spacing: 2rem;
    transform: translateX(-3rem); /* shift slightly left to balance expansion */
}

.first-section{
    flex-direction: row;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0rem;
    justify-content: space-between;
}

.first-section ul li{
    margin: 1rem 0 1rem 0;
    list-style-type: none;
}

.right-bar{
    background-color: var(--secondary-color);;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
    width: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    right: 2.5%;
    top: 50%;
    transition: ease-in-out 0.5s;
}

.right-bar:hover{
    padding: 4rem 1rem 4rem 1rem;
    transform: translateY(-12%);
}

.right-bar li:hover{
    text-shadow: 0 0 5px #7de1ff; 
    filter: drop-shadow(#7de1ff );
}

.list-holder {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);;
  border-radius: 4rem;
  padding: 0;
  transition: ease-in-out 0.5s;
}

nav ul li{
    list-style-type: none;
    margin: 1rem;
    font-size: large;
    color: var(--primary-color);
    padding: 0;
    transition: ease-in-out 1s;
}

a{
    text-decoration: none;
    color: var(--primary-color);
}

a:hover{
    font-weight: bold;
}


.dot{
    height: 5px;
    width: 5px;
    transform-origin: center center;
    position: fixed;
    transition: opacity 0.5s ease;
    animation: fall-left 1.5s forwards;
}

.second-section{
    display: flex;
    position: relative;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: space-between;
    margin-top: 10rem;
}

.text-link{
    color: lightblue
}

.text-link:visited{
    color: orange
}



@keyframes fall-left {
    0%{
        transform: translate(-50%, -50%) translateY(0) scale(1) rotateY(0deg);
        opacity: 1;
    }
   
    100%{
        transform: translate(-50%, -50%) translateY(100px) rotateY(200deg);
        opacity: 0;
    }
}

@keyframes fall-both {
    0%{
        transform: translate(-50%, -50%) translateY(0) scale(1) rotateY(0deg) rotateX(0deg);
        opacity: 1;
    }
   
    100%{
        transform: translate(-50%, -50%) translateY(100px) rotateY(150deg) rotateX(-200deg); 
        opacity: 0;
    }
}

@keyframes fall-right {
    0%{
        transform: translate(-50%, -50%) translateY(0) scale(1) rotateX(0deg);
        opacity: 1;
    }
   
    100%{
        transform: translate(-50%, -50%) translateY(100px) rotateX(-200deg);
        opacity: 0;
    }
}
